* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: "Bookman Old Style", "Microsoft YaHei", Arial;
    margin: 0;
    background-color: rgb(250, 248, 239);
}

#outmostContainer {
    width: 500px;
    margin: 50px auto;
}

#header {
    overflow: hidden;
}

#header h1 {
    color: rgb(119, 110, 101);
    font-size: 80px;
    float: left;
    margin: 0;
}

#scoreContainer {
    float: right;
    height: 63px;
    width: 197px;
}

.scoreDiv,
.bestDiv {
    height: 55px;
    width: 96px;
    background-color: rgb(187, 173, 160);
    border-radius: 2px;
}

.scoreDiv {
    float: left;
}

.bestDiv {
    float: right;
}

#scoreStr,
#bestStr {
    margin-top: 5px;
    color: rgb(238, 228, 218);
    font-size: 18px;
    text-align: center;
}

#score,
#best {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#gameMessage {
    height: 100px;
    overflow: hidden;
    color: rgb(119, 110, 101); 
}

#gameMessage #message {
    margin-top: 20px;
    float: left;
}

#gameMessage #newGameBtn {
    margin-top: 10px;
    float: right;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: 300;
    color: #fff;
    background-color: rgb(143, 122, 102);
    border-radius: 3px;
}

#gameMessage #newGameBtn:hover {
    cursor: pointer;
}

#gameContainer {
    padding: 15px;
    height: 500px;
    width: 500px;
    background-color: rgb(187, 173, 160);
    border-radius: 6px;
}

#gameTable {
    height: 470px;
    width: 470px;
}

#gameTable .tr {
    width: 470px;
    height: 106px;
    margin-bottom: 15px;
    font-size: 0;
    overflow: hidden;
}

#gameTable .td {
    border-radius: 3px;
    float: left;
    width: 106px;
    height: 106px;
    text-align: center;
    line-height: 106px;
    font-weight: bold;
    font-family: "Bookman Old Style", "Microsoft YaHei", Arial;
}

#gameTable .td00,
#gameTable .td01,
#gameTable .td02,
#gameTable .td10,
#gameTable .td11,
#gameTable .td12,
#gameTable .td20,
#gameTable .td21,
#gameTable .td22,
#gameTable .td30,
#gameTable .td31,
#gameTable .td32 {
    margin-right: 15px;
}